<h1>Part 1</h1>

<h2> 1.1 Getting started </h2>

Please write a program which prints out an emoticon: :-)

In [ ]:
print(':-)')

Fix the code: Seven Brothers

In [ ]:
print("Aapo")
print("Eero")
print("Juhani")
print("Lauri")
print("Simeoni")
print("Timo")
print("Tuomas")

Row, Row, Row Your Boat

In [ ]:
print("Row, row, row your boat,")
print("Gently down the stream.")
print("Merrily, merrily, merrily, merrily,")
print("Life is but a dream.")

Minutes in a year

In [ ]:
print(365 * 24 * 60)

Print some code

In [ ]:
print('print("Hello there!")')

<h2> 1.2 Information from the user </h2>

Name twice

In [ ]:
name = input()
print(name)
print(name)

Name and exclamation marks

In [ ]:
name = input()
print('!', name, '!', name, '!', sep="")

Name and address

In [ ]:
n1 = input()
n2 = input()
n3 = input()
n4 = input()
print(n1, n2)
print(n3)
print(n4)

Fix the code: Utterances

In [ ]:
# Fix the code
part1 = input("The 1st part: ")
part2 = input("The 2nd part: ")
part3 = input("The 3rd part: ")
print(part1, '-', part2, '-', part3, '!', sep="")

Story

In [ ]:
n1 = input()
n2 = input()
print(n1, " is a valiant knight, born in the year ", n2, ". One morning " , n1, " woke up to an awful racket: a dragon was approaching the village. Only ", n1, " could save the village's residents.", sep="")

<h2> 1.3 More about variables </h2>

Extra space

In [ ]:

name = "Tim Tester"
age = 20
skill1 = "python"
level1 = "beginner"
skill2 = "java"
level2 = "veteran"
skill3 = "programming"
level3 = "semiprofessional"
lower = 2000
upper = 3000

print("my name is ", name, ", I am ", age, " years old", sep="")
print()
print("my skills are")
print(" - ", skill1, " (", level1, ")", sep="")
print(" - ", skill2, " (", level2, ")", sep="")
print(" - ", skill3, " (", level3, ")", sep="")
print()
print("I am looking for a job with a salary of ", lower, "-", upper, " euros per month", sep="")

Arithmetics

In [ ]:
# Write your solution here
x = 27
y = 15

print(f"{x} + {y} = {x+y}")
print(f"{x} - {y} = {x-y}")
print(f"{x} * {y} = {x*y}")
print(f"{x} / {y} = {x/y}")

Fix the code: Print a single line

In [ ]:
print(5, end="")
print(" + ", end="")
print(8, end="")
print(" - ", end="")
print(4, end="")
print(" = ", end="")
print(5 + 8 - 4)

<h2> 1.4 Arithmetic operations </h2>

Times five

In [ ]:
n = int(input())
print(n, "times 5 is", n*5)

Name and age

In [ ]:
n = input()
m = int(input())
print("Hi ", n, ", you will be ", 2021 - m, " years old at the end of the year 2021", sep="")

Seconds in a day

In [ ]:
d = int(input("How many days?"))
print(f"Seconds in that many days: {d*24*60*60}")

Fix the code: Product

In [ ]:
# Fix the code
number1 = int(input("Please type in the first number: "))
number2 = int(input("Please type in the second number: "))
number3 = int(input("Please type in the third number: "))
product = number1 * number2 * number3
print("The product is", product)

Sum and product

In [ ]:
n1 = int(input("Number 1: "))
n2 = int(input("Number 2: "))
print(f"The sum of the numbers: {n1 + n2}")
print(f"The product of the numbers: {n1 * n2}")

Sum and mean

In [ ]:
s = 0
s += int(input("Number 1: "))
s += int(input("Number 2: "))
s += int(input("Number 3: "))
s += int(input("Number 4: "))
print(f"The sum of the numbers is {s} and the mean is {s/4}")

Food expenditure

In [ ]:
t = int(input("How many times a week do you eat at the student cafeteria? "))
l = float(input("The price of a typical student lunch? "))
g = float(input("How much money do you spend on groceries in a week? "))
ans = t * l + g
print("Average food expenditure:")
print(f"Daily: {ans/7} euros")
print(f"Weekly: {ans} euros")

Students in groups

In [ ]:
n = int(input("How many students on the course? "))
m = int(input("Desired group size? "))
if (n % m > 0):
	ans = n//m + 1
else:
	ans = n//m
print(f"Number of groups formed: {ans}")

<h2> 1.5 Conditional statements </h2>

Orwell

In [ ]:
n = int(input("Please type in a number: "))
if n == 1984:
    print("Orwell")

Absolute value

In [ ]:
n = int(input("Please type in a number: "))
if n < 0:
    n *= -1
print(f"The absolute value of this number is {n}")

Soup or no soup

In [ ]:
s = input("Please tell me your name: ")
if s != "Jerry":
	ans = int(input("How many portions of soup?"))
	print(f"The total cost is {ans * 5.9} ")
print("Next please!")

Order of magnitude

In [ ]:
n = int(input("Please type in a number:"))
if n < 1000:
    print("This number is smaller than 1000")
if n < 100:
	print("This number is smaller than 100")
if n < 10:
	print("This number is smaller than 10")
print("Thank you!")

Calculator

In [ ]:
n1 = int(input("NUmber 1: "))
n2 = int(input("NUmber 2: "))
m = input("Operation: ")
if m == "add":
    print(f"{n1} + {n2} = {n1 + n2 }")
elif m == "multiply":
    print(f"{n1} * {n2} = {n1 * n2 }")
elif m == "subtract":
    print(f"{n1} - {n2} = {n1 - n2 }")

Temperatures

In [ ]:
tf = int(input("Please type in a temperature (F): "))
tg = (tf - 32)/1.8
print(f"{tf} degrees Fahrenheit equals {tg} degrees Celsius")
if tg < 0:
    print("Brr! It's cold in here!")

Daily wages

In [ ]:
w = float(input("Hourly wage: "))
h = float(input("Hours worked: "))
d = input("Day of the week: ")
ans = w * h
if d == "Sunday":
	ans *= 2
print(f"Daily wages: {ans} euros")

Loyalty bonus

In [ ]:
points = int(input("How many points are on your card? "))
if points < 100:
    points *= 1.1
    print("Your bonus is 10 %")
elif points >= 100:
    points *= 1.15
    print("Your bonus is 15 %")
print("You now have", points, "points")

What to wear tomorrow

In [ ]:
print("What is the weather forecast for tomorrow?")
t = int(input("Temperature: "))
r = input("Will it rain (yes/no): ")
print("Wear jeans and a T-shirt")
if t <= 20:
    print("I recommend a jumper as well")
if t <= 10:
    print("Take a jacket with you")
if t <= 5:
    print("Make it a warm coat, actually\nI think gloves are in order")
if r == "yes":
    print("Don't forget your umbrella!")

Solving a quadratic equation

In [ ]:
from math import sqrt
a = int(input("Value of a: "))
b = int(input("Value of b: "))
c = int(input("Value of c: "))
root_pos = (-b + sqrt((b**2) - 4 * a * c))/(2 * a)
root_neg = (-b - sqrt((b**2) - 4 * a * c))/(2 * a)
print(f"The roots are {root_pos} and {root_neg}")

<h1> Part 2 </h1>

<h2> 2.1 Programming terminology </h2>